
:root {
    --primary: #6222CC;
    --secondary: #FBA504;
    --light: #F6F4F9;
    --dark: #04000B;
	--third:#273f4a;
}

body{
    /* background: #eaeaea; */
    margin-top:20px;
    background: var(--third);
    color: #fff;
}
.profile-info-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.friend-list,
.img-grid-list {
    margin: -1px;
    list-style-type: none;
}
.profile-info-list > li.title {
    font-size: 0.625rem;
    font-weight: 700;
    color: #8a8a8f;
    padding: 0 0 0.3125rem;
}
.profile-info-list > li + li.title {
    padding-top: 1.5625rem;
}
.profile-info-list > li {
    padding: 0.625rem 0;
}
.profile-info-list > li .field {
    font-weight: 700;
}
.profile-info-list > li .value {
    color: #666;
}
.profile-info-list > li.img-list a {
    display: inline-block;
}
.profile-info-list > li.img-list a img {
    max-width: 2.25rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    border-radius: 2.5rem;
}
.coming-soon-cover img,
.email-detail-attachment .email-attachment .document-file img,
.email-sender-img img,
.friend-list .friend-img img,
.profile-header-img img {
    max-width: 100%;
}
.table.table-profile th {
    border: none;
    color: #000;
    padding-bottom: 0.3125rem;
    padding-top: 0;
}
.table.table-profile td {
    border-color: #c8c7cc;
}
.table.table-profile tbody + thead > tr > th {
    padding-top: 1.5625rem;
}
.table.table-profile .field {
    color: #666;
    font-weight: 600;
    width: 25%;
    text-align: right;
}
.table.table-profile .value {
    font-weight: 500;
}
.profile-header {
    position: relative;
    overflow: hidden;
}

.profile-header .profile-header-cover {
    background: url(https://bootdey.com/img/Content/bg1.jpg) center no-repeat;
    background-size: 100% auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.profile-header .profile-header-cover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.85) 100%);
}
.profile-header .profile-header-content,
.profile-header .profile-header-tab,
.profile-header-img,
body .fc-icon {
    position: relative;
}
.profile-header .profile-header-tab {
    background: #fff;
    list-style-type: none;
    margin: -1.25rem 0 0;
    padding: 0 0 0 8.75rem;
    border-bottom: 1px solid #c8c7cc;
    white-space: nowrap;
}
.profile-header .profile-header-tab > li {
    display: inline-block;
    margin: 0;
}
.profile-header .profile-header-tab > li > a {
    display: block;
    color: #000;
    line-height: 1.25rem;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.75rem;
    border: none;
}
.profile-header .profile-header-tab > li.active > a,
.profile-header .profile-header-tab > li > a.active {
    color: #007aff;
}
.profile-header .profile-header-content:after,
.profile-header .profile-header-content:before {
    content: "";
    display: table;
    clear: both;
}
.profile-header .profile-header-content {
    color: #fff;
    padding: 1.25rem;
}
body .fc th a,
body .fc-ltr .fc-basic-view .fc-day-top .fc-day-number,
body .fc-widget-header a {
    color: #000;
}
.profile-header-img {
    float: left;
    width: 7.5rem;
    height: 7.5rem;
    overflow: hidden;
    z-index: 10;
    margin: 0 1.25rem -1.25rem 0;
    padding: 0.1875rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    background: #fff;
}
.profile-header-info h4 {
    font-weight: 500;
    margin-bottom: 0.3125rem;
}
.profile-container {
    padding: 1.5625rem;
   
}
    

    @media (max-width: 967px) {
        .profile-header-img {
        width: 5.625rem;
        height: 5.625rem;
        margin: 0;
    }
    .profile-header-info {
        margin-left: 6.5625rem;
        padding-bottom: 0.9375rem;
    }
    .profile-header .profile-header-tab {
        padding-left: 0;
    }
}
@media (max-width: 767px) {
    .profile-header .profile-header-cover {
        background-position: top;
    }
    .profile-header-img {
        width: 3.75rem;
        height: 3.75rem;
        margin: 0;
    }
    .profile-header-info {
        margin-left: 4.6875rem;
        padding-bottom: 0.9375rem;
    }
    .profile-header-info h4 {
        margin: 0 0 0.3125rem;
    }
    .profile-header .profile-header-tab {
        white-space: nowrap;
        overflow: scroll;
        padding: 0;
    }
    .profile-container {
        padding: 0.9375rem 0.9375rem 3.6875rem;
    }
    .friend-list > li {
        float: none;
        width: auto;
    }
}
.profile-info-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.friend-list,
.img-grid-list {
    margin: -1px;
    list-style-type: none;
}
.profile-info-list > li.title {
    font-size: 0.625rem;
    font-weight: 700;
    color: #8a8a8f;
    padding: 0 0 0.3125rem;
}
.profile-info-list > li + li.title {
    padding-top: 1.5625rem;
}
.profile-info-list > li {
    padding: 0.625rem 0;
}
.profile-info-list > li .field {
    font-weight: 700;
}
.profile-info-list > li .value {
    color: #666;
}
.profile-info-list > li.img-list a {
    display: inline-block;
}
.profile-info-list > li.img-list a img {
    max-width: 2.25rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    border-radius: 2.5rem;
}
.coming-soon-cover img,
.email-detail-attachment .email-attachment .document-file img,
.email-sender-img img,
.friend-list .friend-img img,
.profile-header-img img {
    max-width: 100%;
}
.table.table-profile th {
    border-color: none;
    color: #000;
    padding-bottom: 0.3125rem;
    padding-top: 10px;
}
.table.table-profile td {
    border-color: purple;
}
.table.table-profile tbody + thead > tr > th {
    padding-top: 1.5625rem;
}
.table.table-profile .field {
    color: #666;
    font-weight: 600;
    width: 25%;
    text-align: right;
}
.table.table-profile .value {
    font-weight: 500;
}
.row.row-space-2 {
    margin: 0 -1px;
}
.m-b-2 {
    margin-bottom: 2px!important;
}
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
.row.row-space-2>[class*=col-] {
    padding: 0 1px;
}

#photos{
    display:none;
}

#friends{
    display:none;
}

#posts{
    display:none;
}


/*side nav*/
nav {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    background: transparent;
}

    nav ul {
        text-align: center;
    }

        nav ul li {
            position: relative;
            width: 70px;
            cursor: pointer;
            background: crimson;
            text-transform: uppercase;
            transition: all .4s ease-out;
        }

            nav ul li:after {
                position: absolute;
                background: white;
                color: crimson;
                top: 0;
                left: 70px;
                width: 70px;
                height: 100%;
                opacity: .5;
                transform: perspective(400px) rotateY(90deg);
                transform-origin: 0 100%;
                transition: all .4s ease-out;
            }

            nav ul li:nth-child(1):after {
                content: "Home";
                line-height: 88px;
            }

            nav ul li:nth-child(2):after {
                content: "About";
                line-height: 88px;
            }

            nav ul li:nth-child(3):after {
                content: "Work";
                line-height: 85px;
            }

            nav ul li:nth-child(4):after {
                content: "Say hi";
                line-height: 70px;
            }

            nav ul li:hover {
                transform: translateX(-70px);
            }

                nav ul li:hover:after {
                    opacity: 1;
                    transform: perspective(400px) rotateY(0deg) scale(1);
                }


            nav ul li > div {
                display: inline-block;
                padding: 25px 0;
                background: transparent;
            }

            nav ul li div {
                position: relative;
            }

.roof {
    width: 0;
    height: 0;
    top: 2px;
    border-style: solid;
    border-width: 0 21px 15px 21px;
    border-color: transparent transparent #ffffff transparent;
}

.roof-edge {
    position: absolute;
    z-index: 20;
    left: -17px;
    top: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17px 12px 17px;
    border-color: transparent transparent crimson transparent;
}
    /*white triangle over red triangle*/
    .roof-edge:after {
        position: absolute;
        left: -14.5px;
        top: 3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 14.5px 10px 14.5px;
        border-color: transparent transparent white transparent;
    }

.front {
    position: relative;
    top: 3px;
    width: 28.5px;
    height: 20px;
    margin: 0 auto;
    background: white;
}
    /*door*/
    .front:after {
        position: absolute;
        background: crimson;
        width: 11px;
        height: 13px;
        bottom: 0;
        left: 9px;
    }

/*/// About me ////*/

.head {
    width: 32px;
    height: 35px;
    background: white;
    border-radius: 8px;
}
    /*mouth*/
    .head:after {
        width: 4px;
        height: 10px;
        background: white;
        position: absolute;
        border-radius: 4px 0 0 4px;
        top: 21px;
        left: 14px;
        transform: rotate(270deg);
    }

.eyes {
    width: 8px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 5px;
    background: crimson;
}
    /*right eye*/
    .eyes:after {
        width: 8px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 14px;
        background: crimson;
    }

.beard {
    width: 32px;
    height: 17px;
    background: crimson;
    border: 2px solid white;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 8px 8px;
}
    /*nose*/
    .beard:after {
        position: absolute;
        top: -2px;
        left: 11px;
        background: white;
        width: 6px;
        height: 4px;
        border-left: 1px solid crimson;
        border-right: 1px solid crimson;
    }

/*//work//*/

.paper {
    position: relative;
    height: 32px;
    width: 29px;
    background: white;
    border: 2px solid white;
}

    /*window*/
    .paper:after {
        position: absolute;
        top: 1px;
        left: 0;
        width: 25px;
        height: 29px;
        background: white;
        border-top: 4px solid crimson;
    }

.lines {
    position: absolute;
    top: 36px;
    left: 5px;
    width: 11px;
    box-shadow: 0 0 0 1px crimson;
}

    .lines:after {
        position: absolute;
        top: 4px;
        left: 3px;
        width: 14px;
        box-shadow: 0 0 0 1px crimson;
    }

    .lines:nth-child(2) {
        position: absolute;
        top: 44px;
        left: 8px;
        width: 11px;
    }

        .lines:nth-child(2):after {
            position: absolute;
            top: 4px;
            left: -3px;
            width: 11px;
        }

    .lines:nth-child(3) {
        position: absolute;
        top: 52px;
        left: 8px;
        width: 14px;
    }

        .lines:nth-child(3):after {
            display: none;
        }

/*//mail //*/

.mail-base {
    position: relative;
    width: 32px;
    height: 18px;
    background: white;
}

.mail-top {
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    transform: rotate(180deg);
    border-style: solid;
    border-width: 0 16px 11px 16px;
    border-color: transparent transparent crimson transparent;
}

    .mail-top:after {
        position: absolute;
        z-index: 20;
        left: -16px;
        top: 3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 16px 9px 16px;
        border-color: transparent transparent white transparent;
    }





    /*photos part*/
    /* #parent{
       border: 1px solid var(--primary);
    } */
#photos .portfolio-container {
    margin-left: 5rem;
}
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

    #portfolio-flters li:hover,
    #portfolio-flters li.active {
        color: var(--primary);
        border-color: var(--primary);
    }



.portfolio-item img {
    transition: .5s;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item .portfolio-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(98, 34, 204, .9);
    transition: .5s;
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}




/*posts part*/

.timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative
}

    .timeline:before {
        content: '';
        position: absolute;
        top: 5px;
        bottom: 5px;
        width: 5px;
        background: #2d353c;
        left: 20%;
        margin-left: -2.5px
    }

    .timeline > li {
        position: relative;
        min-height: 50px;
        /*  padding: 20px 0*/
    }

    .timeline .timeline-time {
        position: absolute;
        left: 0;
        width: 18%;
        text-align: right;
        top: 30px
    }

        .timeline .timeline-time .date,
        .timeline .timeline-time .time {
            display: block;
            font-weight: 600
        }

        .timeline .timeline-time .date {
            line-height: 16px;
            font-size: 12px
        }

        .timeline .timeline-time .time {
            line-height: 24px;
            font-size: 20px;
            color: #242a30;
        }

    .timeline .timeline-icon {
        left: 15%;
        position: absolute;
        width: 10%;
        text-align: center;
        top: 40px
    }

        .timeline .timeline-icon a {
            text-decoration: none;
            width: 20px;
            height: 20px;
            display: inline-block;
            border-radius: 20px;
            background: #d9e0e7;
            line-height: 10px;
            color: #fff;
            font-size: 14px;
            border: 5px solid #2d353c;
            transition: border-color .2s linear
        }

    .timeline .timeline-body {
        margin-left: 5%;
        margin-right: 17%;
        background: #fff;
        position: relative;
        padding: 20px 25px;
        border-radius: 6px;
        width:60%;
        
        
    }

        .timeline .timeline-body:before {
            content: '';
            display: block;
            position: absolute;
            border: 10px solid transparent;
            border-right-color: #fff;
            left: -20px;
            top: 20px
        }

        .timeline .timeline-body > div + div {
            margin-top: 15px
        }

            .timeline .timeline-body > div + div:last-child {
                margin-bottom: -20px;
                padding-bottom: 20px;
                border-radius: 0 0 6px 6px
            }

.timeline-header {
    padding-bottom: 40px;
    border-bottom: 1px solid #e2e7eb;
    line-height: 30px
}

    .timeline-header .userimage {
        float: left;
        width: 34px;
        height: 34px;
        border-radius: 40px;
        overflow: hidden;
        margin: -2px 10px -2px 0
    }

    .timeline-header .username {
        font-size: 18px;
        font-weight: 600;
        float:left;
    }

        .timeline-header .username,
        .timeline-header .username a {
            color: #2d353c
        }

.timeline img {
    max-width: 100%;
    display: block;
    
    
}

.timeline-content {
    letter-spacing: .25px;
    line-height: 18px;
    font-size: 13px;
    align-items: center;
    
}
.timeline-content img{
    height: 70%;
    width: 100%;
}

    .timeline-content:after,
    .timeline-content:before {
        content: '';
        display: table;
        clear: both
    }

.timeline-title {
    margin-top: 0
}

.timeline-footer {
    background: #fff;
    border-top: 1px solid #e2e7ec;
    padding-top: 15px
}

    .timeline-footer a:not(.btn) {
        color: #575d63;
        padding:10px;
    }

        .timeline-footer a:not(.btn):focus,
        .timeline-footer a:not(.btn):hover {
            color: #2d353c
        }

.timeline-likes {
    color: #6d767f;
    font-weight: 600;
    font-size: 12px;
    margin-right:-20px;
}

    .timeline-likes .stats-right {
        float: right
    }

    .timeline-likes .stats-total {
        display: inline-block;
        line-height: 20px
    }

    .timeline-likes .stats-icon {
        float: left;
        margin-right: 5px;
        font-size: 9px
    }

        .timeline-likes .stats-icon + .stats-icon {
            margin-left: -2px
        }

    .timeline-likes .stats-text {
        line-height: 20px
    }

        .timeline-likes .stats-text + .stats-text {
            margin-left: 15px
        }

.timeline-comment-box {
    background: #f2f3f4;
    margin-left: -25px;
    margin-right: -25px;
    padding: 20px 25px
}

    .timeline-comment-box .user {
        float: left;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 30px
    }

        .timeline-comment-box .user img {
            max-width: 100%;
            max-height: 100%
        }

        .timeline-comment-box .user + .input {
            margin-left: 44px
        }

.lead {
    margin-bottom: 40px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
}

.text-danger, .text-red {
    color: #ff5b57 !important;
}
.blue-like{
    color:blue;
}

@charset "utf-8";
/*side nav*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Tinos&display=swap');



.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: rgb(251,165,4);
    background: linear-gradient(32deg, rgba(251,165,4,1) 0%, rgba(98,34,204,1) 100%);
    z-index: 100;
    transition: all 0.5s ease;
    
}

    .sidebar.close {
        width: 78px;
        
    }

    .sidebar .logo-details {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }

        .sidebar .logo-details i {
            font-size: 30px;
            color: #fff;
            height: 50px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
        }
       



        .sidebar .logo-details .logo_name {
            font-size: 22px;
            color: #fff;
            font-weight: 600;
            transition: 0.3s ease;
            transition-delay: 0.1s;
        }

    .sidebar.close .logo-details .logo_name {
        transition-delay: 0s;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links {
        height: 100%;
        padding: 0 0 150px 0;
        overflow: auto;
    }

    .sidebar.close .nav-links {
        overflow: visible;
    }

    .sidebar .nav-links::-webkit-scrollbar {
        display: none;
    }

    .sidebar .nav-links li {
        position: relative;
        list-style: none;
        transition: all 0.4s ease;
    }

        .sidebar .nav-links li:hover {
            background: #1d1b31;
        }

        .sidebar .nav-links li .icon-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    .sidebar.close .nav-links li .icon-link {
        display: block;
    }

    .sidebar .nav-links li i {
        height: 50px;
        min-width: 78px;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .sidebar .nav-links li.showMenu i.arrow {
        transform: rotate(-180deg);
    }

    .sidebar.close .nav-links i.arrow {
        display: none;
    }

    .sidebar .nav-links li a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

        .sidebar .nav-links li a .link_name {
            font-size: 18px;
            font-weight: 400;
            color: #fff;
            transition: all 0.4s ease;
        }

    .sidebar.close .nav-links li a .link_name {
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links li .sub-menu {
        padding: 6px 6px 14px 80px;
        margin-top: -10px;
        background: #1d1b31;
        display: none;
    }

    .sidebar .nav-links li.showMenu .sub-menu {
        display: block;
    }

    .sidebar .nav-links li .sub-menu a {
        color: #fff;
        font-size: 15px;
        padding: 5px 0;
        white-space: nowrap;
        opacity: 0.6;
        transition: all 0.3s ease;
    }

        .sidebar .nav-links li .sub-menu a:hover {
            opacity: 1;
        }

    .sidebar.close .nav-links li .sub-menu {
        position: absolute;
        left: 100%;
        top: -10px;
        margin-top: 0;
        padding: 10px 20px;
        border-radius: 0 6px 6px 0;
        opacity: 0;
        display: block;
        pointer-events: none;
        transition: 0s;
    }

    .sidebar.close .nav-links li:hover .sub-menu {
        top: 0;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
    }

    .sidebar .nav-links li .sub-menu .link_name {
        display: none;
    }

    .sidebar.close .nav-links li .sub-menu .link_name {
        font-size: 18px;
        opacity: 1;
        display: block;
    }

    .sidebar .nav-links li .sub-menu.blank {
        opacity: 1;
        pointer-events: auto;
        padding: 3px 20px 6px 16px;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links li:hover .sub-menu.blank {
        top: 50%;
        transform: translateY(-50%);
    }

    .sidebar .profile-details {
        position: fixed;
        bottom: 0;
        width: 260px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #1d1b31;
        padding: 12px 0;
        transition: all 0.5s ease;
        height:200px;
    }

    .sidebar.close .profile-details {
        background: none;
        height:100px;
    }

    .sidebar.close .profile-details {
        width: 78px;
    }

    .sidebar .profile-details .profile-content {
        display: flex;
        align-items: center;
    }

    .sidebar .profile-details img {
        height: 52px;
        width: 52px;
        object-fit: cover;
        border-radius: 16px;
        margin: 0 14px 0 12px;
        background: #1d1b31;
        transition: all 0.5s ease;
    }
    .sidebar .logo-details img {
        height: 52px;
        width: 52px;
        object-fit: cover;
        border-radius: 16px;
        margin: 0 14px 0 12px;
        transition: all 0.5s ease;
    }



    .sidebar.close .profile-details img {
        padding: 10px;
    }

    .sidebar .profile-details .profile_name,
    .sidebar .profile-details .job {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
    }

    .sidebar.close .profile-details i,
    .sidebar.close .profile-details .profile_name,
    .sidebar.close .profile-details .job {
        display: none;
    }

    .sidebar .profile-details .job {
        font-size: 12px;
    }

.home-section {
    position: relative;
  
    
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    margin-left:-5rem;
}

.sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
}



    .home-section .home-content .bx-menu,
    .home-section .home-content .text {
        color: #11101d;
        font-size: 35px;
    }

    .home-section .home-content .bx-menu {
       margin-top:10px;
       margin-left:-25px;
        cursor: pointer;
    }

    .home-section .home-content .text {
        font-size: 26px;
        font-weight: 600;
    }

@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
}





/*del post confirm*/
.deletebtn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 60%; /* Full width */
    height: 50%; /* Full height */
    padding-top: 50px;
}


.modal-content {
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
        width: 100%;
    }
}

i#posts_btn.bx.bx-menu::before{
    margin-left: 5rem;
    
}
i#about_btn.bx.bx-menu::before{
    margin-left: 3rem;
}
i#photo_btn.bx.bx-menu::before{
    margin-left: 4rem;
}
/*comments*/


.comments-title {
    font-size: 16px;
    color: var(--primary);
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}
.comments-title:hover{
    color: var(--secondary);
}

.be-img-comment {
    margin-left: -10px;
    float: left;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 30px
    
}

.be-ava-comment {
    width:35px;
    height: 35px;
    border-radius: 30%;
}

.be-comment-content {
    margin-left:10px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}


.be-comment-content a {
    color: #383b43;
    font-size: 15px;
    font-weight: bold;
    margin-top: 7px;
    font-family: 'Conv_helveticaneuecyr-bold';
    float: left;
    margin-left: 6px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    
}


.be-comment-time {
    float: right;
    font-size: 11px;
    color: #b4b7c1;
    text-align: right;
    margin-top:-35px;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: black;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}
#del_com{
    display: block;
    float:right;
    margin-top: -3rem;
    margin-right: -1.5rem;
    cursor: pointer;
}
#del_com:hover{
    color: #000;
}

.form-group.fl_icon .icon {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 48px;
    height: 48px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
}

.form-group.fl_icon .form-input {
    padding-left: 70px;
}

.form-group textarea.form-input {
    height: 150px;
}
