:root {
    --primary: #6222CC;
    --secondary: #FBA504;
    --light: #F6F4F9;
    --dark: #04000B;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body{
	
	overflow-y: hidden;
	overflow-x:hidden;
	background-color:var(--primary);
	
}
.clear {
	clear: both;
}

#canvasWrapper {
	background-color: white;
	/*background: url(../images/transparentbg.png) repeat;*/
	width: 1020px;
	height: 560px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 10px;
	position: relative;
	border: 5px solid var(--secondary);
}

#myCanvas ,#myCanvas2,#myCanvas_normal{
	/*border: 2px solid #000; */
	margin: 0 auto;
	display: block;
	position: absolute;
	/*z-index: 1;*/
	/*width: 1020px;*/
	/*height: 575px;*/
}



#toolbar {
	width: 1000%;
	height: 80px;
	padding: 10px;
	
	/*position:fixed;*/
	background: #262626;
	color: #fff;
	font-family: sans-serif;
}



#toolbar .radcontrol {
	width: 30px;
	height: 30px;
	padding: 10px;
	border-radius: 9px;
	background-color: #4f4f4f;
	display: inline-block;
	text-align: center;
	padding-top: 5px;
	margin: 0 5px;
	cursor: pointer;
	
}



#colors {
	border: 6px solid transparent;
	border-radius: 20px;
	margin-left:80px;
	display:none;
    margin-top:-33rem;
}


#raidus {
	float: left;
}

.swatch {
	cursor: pointer;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .5), 0 2px 2px 2px rgba(0, 0, 0, 0.5);
	margin-top:10px;
	
}

.swatch.active {
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .5)
}

.swatch:hover {
	border: 2px solid #fff;
}

/* #clearCanvas{
	padding-right:25px;
	margin-right:20px;
	text-align:center;
	margin-top:34px;
	
} */
.drawTool {
	margin-top:8px;
	cursor: pointer;
	color: #000;
	display: flex;
	flex-direction: row;
	 width: 195px; 
	/* border-radius: 50px;
	border: 2px solid transparent; */
}
.drawTool i{
	font-size: 2rem;
}

.drawTool.set {
	color:#fff;
}



#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(192, 192, 192, 0.5);
	background-repeat: no-repeat;
	background-position: center;
}

#page {
	display: none;
}

.tooloption{
	display:flex;
	flex-direction:row;
overflow: auto;
	white-space: nowrap;

}
#hide1{
	display:none;
}
#hide2{
	display:none;
}

/* for tools */
nav{
	float: left; 
	clear: both;
	width: 16.5%; 
	height: 35rem;
	background: #eee;
	/* box-shadow:2px 2px 2px var(--secondary); */
	font-family: 'Shadows Into Light', cursive;
	font-size:24px;
	margin-top: 12px;
  }
  
  nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
  }
  
  nav li{
	  float: none; 
	width: 100%;
	height:70px;
  }
  
  nav li a{
	display: block; 
	/* width: 100%;  */
	height:70px;
	padding: 10px; 
	border-left: 5px solid; 
	position: relative; 
	z-index: 2;
	text-decoration: none;
	color: #444;
	box-sizing: border-box;  
	-moz-box-sizing: border-box;  
	-webkit-box-sizing: border-box; 
  }

	  
  nav li a:hover{ border-bottom: 0px; color: #fff;}
  nav li a:hover .drawTool{
	color:#fff;
  }
  
  nav li:first-child a{ border-left: 10px solid #3498db; }
  nav li:nth-child(2) a{ border-left: 10px solid #ffd071; }
  nav li:nth-child(3) a{ border-left: 10px solid #f0776c; }
  nav li:nth-child(4) a{ border-left: 10px solid #1abc9c; }
  nav li:nth-child(5) a{ border-left: 10px solid #3498db; }
  nav li:nth-child(6) a{ border-left: 10px solid #ffd071; }
  nav li:nth-child(7) a{ border-left: 10px solid #f0776c; }
  nav li:nth-child(8) a{ border-left: 10px solid #1abc9c; }
  
  nav li a:after { 
	content: "";
	height: 100%; 
	left: 0; 
	top: 0; 
	width: 0px;  
	position: absolute; 
	transition: all 0.3s ease 0s; 
	-webkit-transition: all 0.3s ease 0s; 
	z-index: -1;
  }

  nav li a:hover:after{ width: 100%; }
  nav li:first-child a:after{ background: #1C699C; }
  nav li:nth-child(2) a:after { background: #B87A00; }
  nav li:nth-child(3) a:after{ background: #FF311F; }
  nav li:nth-child(4) a:after{ background: #149077; }
  nav li:nth-child(5) a:after{ background: #1C699C; }
  nav li:nth-child(6) a:after{ background: #B87A00; }
  nav li:nth-child(7) a:after{ background: #FF311F; }
  nav li:nth-child(8) a:after{ background: #149077; }
  #save{
	margin-top: -75px;
	height: 75px;
	width: 225px;	
	}
	#save i,#save span{
		margin-top: 10px;	
		}
  